@model Libro

<form method="post">
    titulo:<input type='text' name='Titulo' value="@Model.Titulo"/><br/>
    titulo:<input type='text' name='Stock' value="@Model.Stock"/><br/>
    <input type='submit'/>

</form>